@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');

a {
  color: #8f8f8f;
  transition: color 0.5s ease;
}

a:hover {
  color: white;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #32343d;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title {
  text-align: center;
  color: #727272;
  margin: 50px;
}

.wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.colorCard {
  box-shadow: 0px 0px 50px 15px #00000053;
  padding: 7px 7px 15px 7px;
  background-color: #ffffff;
  border-radius: 2px;
}

.colorGeneratorBox {
  box-sizing: border-box;
  background-color: #7e7e7e;
  width: 350px;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.newColor {
  font-weight: 700;
  font-size: 35px;
}

.newTitle {
  margin: 10px 5px;
}

.button {
  margin: 10px 3px;
  font-size: 16px;
  padding: 12px 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.description {
  font-size: 12px;
  color: #353535;
  margin: 5px;
}

.basic {
  text-align: center;
  margin: 60px;
  color: #8f8f8f;
}
